<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
      body {
        background-color:antiquewhite;
      }
  </style> 
  </head>
  <body>
    <h1>Chat Bot</h1>
    <h3>Simple ChatBot using <a href="https://chatterbot.readthedocs.io/en/stable/#">ChatterBot</a> and integrated with flask</h3>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm Chatterbot.</span></p>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Enter Message here">
        <input id="buttonInput" type="submit" value="Send">
      </div>
      <script src="/static/js/main.js"></script>
    </div>
  </body>
</html>
